beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.20
django-cors-headers==3.0.2
django-js-asset==1.2.2
django-mptt==0.10.0
djangorestframework==3.11.2
djangorestframework-recursive==0.1.2
gunicorn==19.9.0
idna==2.8
psycopg2-binary==2.7.6.1
pytz==2018.7
requests==2.22.0
soupsieve==1.9.2
urllib3==1.25.8
whitenoise==4.0
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.20
django-cors-headers==3.0.2
django-extensions==2.2.9
django-js-asset==1.2.2
django-mptt==0.10.0
djangorestframework==3.11.2
djangorestframework-recursive==0.1.2
gunicorn==19.9.0
idna==2.8
psycopg2-binary==2.7.6.1
pytz==2018.7
requests==2.22.0
six==1.15.0
soupsieve==1.9.2
urllib3==1.25.8
whitenoise==4.0
