@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 500;
}
